.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 15px -4px #000000;
  box-shadow: 5px 5px 15px -4px #000000;
  border-radius: 10px;
  height: 100px;

  @media screen and (max-width: 991px) {
    width: calc(50% - 30px);
    flex: unset;
  }

  @media screen and (max-width: 575px) {
    width: 100%;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: bold;
      font-size: 14px;
      color: rgb(160, 160, 160);
    }
    .counter {
      font-size: 28px;
      font-weight: 300;

      @media screen and (max-width: 1023px) {
        font-size: 24px;
      }
    }
    .link {
      width: max-content;
      font-size: 12px;
      border-bottom: 1px solid gray;
    }
    .percentage {
      display: flex;
      align-items: center;
      font-size: 14px;

      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }
    .icon {
      font-size: 18px;
      padding: 5px;
      //background-color: rgb(89, 89, 196);
      border-radius: 5px;
      align-self: flex-end;
    }
  }
}
